<main>
  <section class="form-section">
    <h1>Welcome to Task Manager</h1>
    <h2>{{ title }}</h2>
    <ng-content></ng-content>
    <div class="button-group">
      <button mat-flat-button>{{ primaryButtonText }}</button>
      <span>or</span>
      <button mat-stroked-button color="primary">{{ secondaryButtonText }}</button>
    </div>
  </section>
  <section class="main-section">
    <h2>Your productivity hub</h2>
    <p>Manage your tasks with clarity and focus, one step at a time.</p>
  </section>
</main>
